/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100dvw;
  height: 100dvh;
  user-select: none;
}

/** Split Gutter Style **/
.as-split-gutter {
  background-color: #1c2024 !important;
}
.as-split-area {
  background-color: #1c2024 !important;
}

* {
  box-sizing: border-box;
}
